<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
	<servlet>
		<servlet-name>CreateCarType</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.CreateCarTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateCar</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.CreateCarServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateRequest</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.CreateRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCarType</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.EditCarTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCar</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.EditCarServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditRequest</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.EditRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCarType</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.DeleteCarTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCar</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.DeleteCarServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteRequest</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.DeleteRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewCarTypeList</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.ViewCarTypeListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewCarList</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.ViewCarListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewRequestList</servlet-name>
		<servlet-class>ru.dreamjteam.servlets.ViewRequestListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCar</servlet-name>
		<url-pattern>/CreateCar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateCarType</servlet-name>
		<url-pattern>/CreateCarType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateRequest</servlet-name>
		<url-pattern>/CreateRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCar</servlet-name>
		<url-pattern>/EditCar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCarType</servlet-name>
		<url-pattern>/EditCarType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditRequest</servlet-name>
		<url-pattern>/EditRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCar</servlet-name>
		<url-pattern>/DeleteCar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCarType</servlet-name>
		<url-pattern>/DeleteCarType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteRequest</servlet-name>
		<url-pattern>/DeleteRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewCarList</servlet-name>
		<url-pattern>/ViewCarList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewCarTypeList</servlet-name>
		<url-pattern>/ViewCarTypeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRequestList</servlet-name>
		<url-pattern>/ViewRequestList</url-pattern>
	</servlet-mapping>
</web-app>
